@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;   
}
body{
    background: #3e366838;
}
.header{
    height: 150px;
    background:darkgrey;
    padding: 0 20px;
    color: azure;
}
.header li{
    list-style-type: none;
    float: left;
}
.logo img{
    width: 250px;
    height: 150px;
    margin-left: -2%;
}

.menuList{
    line-height: 100px;
    float: right;                           
}
.menuList a{
    
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 90px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.openingMenu, .item{
    transition: 0.5s;
    font-size: 30px;
    

}
.openingMenu i{
    line-height: 100%;
    padding: 30px 0;
}
.openingMenu:hover, .item:hover{
    color: brown;
}
.menuList a:hover{
    transition: 0.4s;
    color: brown;
}
#chk{
    position: absolute;
    visibility: hidden;
}

.openingMenu, .item{
        display: flex;
       
    }
    .item{
        position: relative;
        justify-content:flex-end;
        margin-top:-135%;
        margin-right: 15%;
        
        
    }
    .menuList{
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 15%;
        height: 100vh;
        background: #16122c;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.5s;
    }
    .menuList a{
        display: flex;
        margin: 20px;
        width: 0px;
        height: 0%;
        padding-left: 4%;  
    }
    .openingMenu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
#chkbx:checked ~ .menuList{
    right: 0;
}
#chkbx{
    display: none;
}
.centerMenu { 
    display: flex;
    justify-content: flex-start;
    justify-content: center;   
    margin: auto;
    margin-top:-8% ;
    padding: 10px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.centerMenu li a{
    color: darkred;
    text-decoration: none;
}
.centerMenu a:hover{
    transition: 0.4s;
    color: white;
}
.radius a{
    width:60px;
    height:10px;
    margin:2px;
    padding:25px;
    
}
#m0:hover{
    transition: 0.8s;
    background: #16122c;
    border-radius: 500px;
}
#m1:hover{
    transition: 0.8s;
    background: #16122c;
    border-radius: 500px;
}
#m2:hover{
    transition: 0.8s;
    background: #16122c;
    border-radius: 500px;
}
#m3:hover{
    transition: 0.8s;
    background: #16122c;
    border-radius: 500px;
}
#baby img{
    margin-top: -21%;
    margin-right: 3%;
    object-fit: cover;
   border-radius: 20px;
    float: right;
    width: 40%;
    height: 300px;    
}
#h1{
    color:rgb(10, 10, 99);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    margin-top: 2%;
}
#h2{
    color: #5e0202;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin-left:3%;
    margin-top: 10%;
}
#p1{
    font-family:'Ubuntu',sans-serif;
    margin-left: 4%;
    width: 45%;
    height: 250px;
    font-size: 22px;
    margin-top: 5%;
}
#p2{
    font-family:'Ubuntu',sans-serif;
    margin-left: 4%;
    margin-top: 6%;
    width: 45%;
    height: 250px;
    font-size: 19px;
}
.video{
    margin-top: -20%;
    margin-right: 3%;
    float: right;
}

footer{
    background:#222831;
   margin-top: 3%;
    width:100%; 
    height:210px;
    float:right;
    color:white; 
    font-family:arial;
}
.socialMedia b{
    margin-right: 5px;
    color:#FFFF;
    font-size: 25px;
}
.socialMedia{
    float: right;
    margin-right: 20%;
    margin-top: 25px;
}
.socialMedia li{
    display: inline-flex;
    list-style: none;   
    margin: 15px;
}
.socialMedia li{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
}
.socialMedia li:hover{
    z-index:2;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);  
    -moz-transform: scale(1.5);
    transform: scale(1.5);

}
.communication{
    float: left;
    margin-left: 20%;
    margin-top:30px;
    
}
.communication b{
    margin-left: 35px;
    color:#FFFF;
    font-size: 25px;

}
.communication li{
    color:#c4c1e0;
    list-style: none;
    margin: 10px;
    font-size: 15px;
}






















